---
import Layout from "../layouts/Layout.astro"
import EventPopLogo from "../../public/eventpop.svg"
import PinIcon from "../../public/pin.svg"
import InstagramLogo from "../../public/instagram.svg"
---

<Layout title="Cornea Cochlear Club" description="Event/Performance" preview="/images/pages/index.png">
  <div class="w-full h-full fixed z-0" id="root"></div>
  <div class="relative inset-0 flex flex-col h-screen z-10 pt-16" id="information">
    <div class="flex flex-col relative w-full items-center flex-grow">
      <p class="flex text-white  font-display text-2xl">
        Cornea Cochlear Club
      </p>
      <p class="">presents</p>
      <div class="flex flex-col justify-center items-center">
        <p class="relative flex font-mono mt-2">
          Live-Coding Audio/Visual
        </p>
        <div class="flex justify-center items-center my-4">
          <p class="relative flex text-white font-display text-[6rem]">
            Cybernaut Party
          </p>
          <p class="absolute  text-[#00ff00] font-mono text-[5rem] inline-block scale-y-[2]">
            CYBERNAUT PARTY
          </p>
        </div>
        <p class="relative flex text-[#00ff00] font-mono -top-[1rem] scale-x-[1.8] scale-y-[2.9]">
          THE STREET FINDS ITS OWN USES FOR THINGS
        </p>

        <div class="flex flex-col justify-center items-center leading-tight mt-4 text-2xl">
          <p class="font-mono"> 7 June 2024, 19:00 onward </p>
          <div class="flex space-x-2 justify-center items-center mt-2">
            <img src={PinIcon.src} class="w-[20px]" />
            <a
              href="https://www.google.com/maps?sca_esv=9ef43ef143c24271&output=search&q=unformat+studio&source=lnms&entry=mc&ved=1t:200715&ictx=111"
              target="_blank"
            >
              Unformat Studio BKK, Thailand
            </a>
          </div>
        </div>

        <ol class="grid grid-cols-3 gap-4 my-12 w-full text-center font-mono mt-4 text-[#ff006a] leading-tight text-xl">
          <a href="https://www.instagram.com/kastakila_" target="_blank" class="hover:text-white">kastakila (NYC)</a>
          <a href="https://www.instagram.com/reckonermusic" target="_blank" class="hover:text-white">Reckoner (NYC)</a>
          <a href="https://www.instagram.com/emptyflash_" target="_blank" class="hover:text-white">emptyflash (NYC)</a>
          <a href="https://www.instagram.com/renickbell" target="_blank" class="hover:text-white">Renick Bell (HCMC)</a>
          <a href="https://www.instagram.com/lebactan" target="_blank" class="hover:text-white">Le-Bac-Tan (HCMC)</a>
          <a href="https://www.instagram.com/in.mintcondition_" target="_blank" class="hover:text-white">inmintcondition (BKK)</a>
          <a href="https://www.instagram.com/varut_o" target="_blank" class="hover:text-white">Varut_O (BKK)</a>
          <a href="https://www.instagram.com/roma_or_am_i" target="_blank" class="hover:text-white">Palindroma (BKK, RU)</a>
          <a href="https://www.instagram.com/giang_ws" target="_blank" class="hover:text-white">WrappedByte (BKK)</a>
          <a href="https://www.instagram.com/crsrcrsrrr" target="_blank" class="hover:text-white">CRSRCRSRRR (BKK)</a>
          <a href="https://www.instagram.com/msyves" target="_blank" class="hover:text-white">Msyves (BKK)</a>
          <a href="https://www.instagram.com/karnpapon" target="_blank" class="hover:text-white">Karnpapon Boonput (BKK)</a>
        </ol>

        <a
          type="button"
          href="https://www.eventpop.me/e/36130/cybernaut-party"
          target="_blank"
          class="text-gray-900 bg-[#00ff00] hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg p-2 pr-3 text-center text-xl inline-flex items-center  me-2 mb-2"
        >
          <img src={EventPopLogo.src} class="w-[30px] mr-2" />
          Get The Ticket
        </a>
      </div>
    </div>
    <div class="w-full h-40 pb-20"></div>
  </div>
  
</Layout>

<script>
  import { render } from "../layouts/threeLayout.jsx"
  import "/public/app.css"

  render()
</script>
