---
import { SEO } from "astro-seo"
import Navigator from "../components/navigator.jsx"

export interface Props {
  title?: string
  preview?: string
  description?: string
}

const { title, preview, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description=""
      openGraph={{
        basic: {
          title: title || "",
          // image: preview || "",
          image: "/ccc-og.png",
          type: "website",
        },
      }}
    />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Navigator client:load /> -->
    <main class="">
      <slot />
    </main>
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }
    </style>
  </body>
</html>
